# Bin and build
bin/
build/
.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
.vs/
CMakeSettings.json

# Linting stuff
.clangd*
compile_commands.json

# Documentation
Doxyfile
html/
latex/

# Libraries
boost_1_73_0/
glm*/
tinynurbs/
3rdparty/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# VS Code folders
.vscode/
callgrind.out.1646
images/pads.png
*.swp

images/
noise_testing/
